<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A273</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Dictionary</string>
	<key>CFBundleExecutable</key>
	<string>Dictionary</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Dictionary.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.Dictionary.help</string>
	<key>CFBundleIconFile</key>
	<string>Dictionary.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Dictionary</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Dictionary</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.1</string>
	<key>CFBundleSignature</key>
	<string>dics</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-dictionary</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dict</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>177</string>
	<key>DCSUseNetworkDictionaries</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7A176g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A273</string>
	<key>DTSDKName</key>
	<string>macosx10.11internal</string>
	<key>DTXcode</key>
	<string>0700</string>
	<key>DTXcodeBuild</key>
	<string>7A176g</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.reference</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>MyDefaultSettings</key>
	<dict>
		<key>DefaultFoundCountCap</key>
		<integer>1000</integer>
		<key>UseWikipediaAPIToFetchHTML</key>
		<string>YES</string>
		<key>WikipediaFoundCountCap</key>
		<integer>30</integer>
		<key>WikipediaRequestTimeout</key>
		<integer>30</integer>
		<key>contextual menu behavior</key>
		<integer>0</integer>
	</dict>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>DictionaryBrowserApp</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Look Up in Dictionary</string>
			</dict>
			<key>NSMessage</key>
			<string>doLookupService</string>
			<key>NSPortName</key>
			<string>Dictionary</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>com.apple.PreferenceSync.ExcludeSyncKeys</key>
	<array>
		<string>window frames</string>
	</array>
</dict>
</plist>
